.c-navbar {
  &__logo {
    width: auto;
    height: 2.5rem;

    @include media-breakpoint-down(sm) {
      height: 1.5rem;
    }
  }

  &__menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    @include media-breakpoint-down(sm) {
      flex-direction: row-reverse;
      justify-content: flex-start;
    }

    :not(:last-child) {
      padding-right: pad(normal);

      @include media-breakpoint-down(sm) {
        padding-right: 0;
        padding-left: pad(small);
      }
    }
  }
}
