.c-trending {
  background-color: $color-primary;
  color: $color-text-reverse;

  &__content {
    padding-top: pad(2xsmall);
    padding-bottom: pad(2xsmall);
    font-weight: 600;

    @include media-breakpoint-up(lg) {
      padding-top: pad(small);
      padding-bottom: pad(small);
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      overflow: scroll;
      flex-wrap: nowrap;
      -ms-overflow-style: none; /* IE and Edge */
      scroll-behavior: smooth;
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /*Chrome, Safari and Opera */
      }
    }
  }

  &__scrollbox {
    display: flex;
  }

  &__poster-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}
