.c-search-bar {
  height: 2.5rem;

  @include media-breakpoint-down(sm) {
    height: 1.5rem;
  }

  &__input-field {
    width: 20rem;
    height: 100%;
    border: color-palette('gray', 500) 1px solid;
    background-color: color-palette('gray', 200);
    border-radius: $g-ui-border-radius;
    text-indent: 0.75rem;
  }

  &__search-icon {
    width: auto;
    height: 100%;
    color: $color-primary;
  }
}
