.o-background-container {
  padding-top: pad(xsmall);
  padding-bottom: pad(xsmall);
  border-bottom: px-to-rem(4px) solid $color-primary;

  @include media-breakpoint-down(sm) {
    padding-top: pad(2xsmall);
    padding-bottom: pad(2xsmall);
  }
}
