.o-flexbox {
  display: flex;

  &--expand {
    flex: 1;
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &--vertical {
    flex-direction: column;
  }

  &--vertical-reverse {
    flex-direction: column-reverse;
  }
}
