.c-search-results {
  position: absolute;
  z-index: $g-z-index-middle;
  top: 100%;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: #fff;
  transform: translateY(-000%);
  transition: $g-transition-duration ease-in-out;
}
